/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Red: hsl(1, 90%, 64%)
- Blue: hsl(219, 85%, 26%)

### Neutral

- White: hsl(0, 0%, 100%)
- Very light grayish blue: hsl(210, 60%, 98%)
- Light grayish blue 1: hsl(211, 68%, 94%)
- Light grayish blue 2: hsl(205, 33%, 90%)
- Grayish blue: hsl(219, 14%, 63%)
- Dark grayish blue: hsl(219, 12%, 42%)
- Very dark blue: hsl(224, 21%, 14%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Plus Jakarta Sans](https://fonts.google.com/specimen/Plus+Jakarta+Sans)
- Weights: 500, 800
*/

/* Defining global variables for color scheme */
:root {
    --primaryRed: hsl(1, 90%, 64%);
    --primaryBlue: hsl(219, 85%, 26%);
    --neutralWhite: hsl(0, 0, 100%);
    --neutralVeryLightGrayishBlue: hsl(210, 60%, 98%);
    --neutralLightGrayishBlue1: hsl(211, 68%, 94%);
    --neutralLightGrayishBlue2: hsl(205, 33%, 90%);
    --neutralGrayishBlue: hsl(219, 14%, 63%);
    --neutralDarkGrayishBlue: hsl(219, 12%, 42%);
    --neutralVeryDarkBlue: hsl(224, 21%, 14%)
}

/* Importing font */

@font-face {
    font-family: 'Jakarta';
    src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: var(--neutralWhite);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}